<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%if @role != "admin"%>
<%=link_to "Change Password",change_password_user_path(@user)%>
<%else%>
<%= link_to 'Back', users_path  if @role == "admin" %>
<%end%>
